[Desktop Entry]
Name=Tile World
Comment=Emulator of the game Chip's Challange
Comment[pl]=Emulator gry Chip's Challange
Icon=tworld
Exec=tworld
Terminal=false
Type=Application
Categories=Game;StrategyGame;
